// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

//GOLD
$primary-color: #BA8C33;
$primary-color-dark: #906C26;

//YELLOW
$secondary-color: #FFBB36;
$secondary-color-dark: #D19829;

//DARK BLUE
$third-color: #151948;

//DARK GRAY
$text-color: #6D6D6D;
