.how-it-works {

  background-image:

    linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
  url('https://images.pexels.com/photos/221148/pexels-photo-221148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 900px;
  width: 100%;
  background-size: cover;

  &_header h1 {
    text-align: center;
    font-family: $main-font;
    color: white;
    font-weight: 300;
    font-size: $h1-size;
    padding-top: 70px;
  }

}
