.services {
  background-color: white;

  &_header h1 {
    text-align: center;
    font-family: $main-font;
    font-size: $h1-size;
    color: $third-color;
    font-weight: 300;
  }

  &_icons {
    @include absCenter;
    flex-wrap: wrap;
  }
}



.service {
  width: 450px;
  padding: 70px 50px;
  text-align: center;

  & h4 {
    font-family: $main-font;
    font-weight: 400;
    color: $third-color;
    font-size: $h4-size;
    padding-bottom: 5px;
    border-bottom: 3px solid $primary-color;
  }

  & p {
    font-size: $p-size;
  }
}


@media only screen and (max-width: 850px) {

  .services {

    &_header h1 {
      font-size: 24px;
    }

  }

  .service {
    padding: 40px 50px;
  }

}
