<div class="hoxton-footer">
  <div class="hoxton-footer_logo">
  </div>
  <div class="hoxton-footer_legal">
    <p>SimpleHosting <i class="far fa-copyright"></i> All Right Reserved 2019</p>
  </div>

</div>
