<div class="hoxton-footer">
  <div>
    <div class="hoxton-footer_logo">
    </div>
    <p class="hidden-md hidden-lg hidden-xl mobile-footer-text">SimpleHosting <i class="far fa-copyright"></i> All Right Reserved 2019</p>
  </div>
  <div class="hoxton-footer_legal hidden-xs hidden-sm">
    <p>SimpleHosting <i class="far fa-copyright"></i> All Right Reserved 2019</p>
  </div>
  <div class="hoxton-footer_legal">
    <p>Escribenos:<br>simplehosting.col@gmail.com</p>
    <p>Llamanos<br>+57 320.542.2852</p>
    <p>Calle 31 # 9-15<br> Cartagena, Colombia</p>
  </div>
  <div class="hoxton-footer_label">
    <p> Developed by: <%= link_to 'Hoxton Digital', 'https://www.hoxton-digital.com'%></p>
  </div>
</div>

